* {
    box-sizing: border-box;
}

.wrap {
    display: none;
    margin: 0 auto;
    max-width: 500px;
}

.board {
    margin: 0 auto;
    display: grid;
    width:max-content;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid black;
}

.tile {
    align-content: center;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: lightblue;
}

/*** Modal Stuff ***/
/* Modal Background */
.modal-container {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* Fallback to solid black */
    background-color: rgba(0, 0, 0, 0.4) /* Slightly opaque background */
}

/* Modal Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid black;
    width: 80%;
}
